<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="../static/styles/booking.css" />
</head>
<body>
    <header>
        <section class="c_nav">
            <nav>
                <h1><a>台北一日遊</a></h1>
                <a class="c_nav_anchor_booking body">預訂行程</a>
                <a class="body">登入/註冊</a>
            </nav>
        </section>
    </header>
    <main>
        <div id="modal_signIn" class="modal_signIn dp-none">
            <div class="modalMask"></div>
            <form id="modal_signIn_form">
                <div class="deco_modal"></div>
                <div class="icon_close"></div>
                <h3>註冊會員帳號</h3>
                <label id="modal_signIn_label_name">
                    <input id="modal_signIn_input_name" class="body" placeholder="輸入姓名" value="彭彭彭">
                </label>
                <label>
                    <input id="modal_signIn_input_email" class="body" placeholder="輸入電子郵件" value="ply@ply.com">
                </label>
                <label>
                    <input id="modal_signIn_input_password" class="body" placeholder="輸入密碼" value="12345678">
                </label>
                <div>
                    <p class="modal_signIn_errorMessage vb-hidden"></p>
                    <button class="button">註冊新帳戶</button>
                    <p id="modal_signIn_message" class="body">已經有帳戶了？點此登入</p>                    
                </div>
            </form>
        </div>
        <section class="section_unpaidBooking contentLayout">
            <p class="welcomingMessageSpec button bold dp-none">
                您好，
                <span class="button bold"></span>
                ，待預訂的行程如下：
            </p>
            <p class="welcomingMessageGen button bold">您好，請先登入帳戶，以瀏覽您的預訂行程</p>
            <!--<div>
                <div class="UnpaidBookingCard">
                    <div class="UnpaidBookingCard_info">
                        <div>
                            <img src="../static/styles/images/Picture.png">
                            <div>
                                <p class="body bold">
                                    台北一日遊：
                                    <span class="body">平安鐘</span>
                                </p>
                                <p class="body">
                                    日期：
                                    <span class="body">2021-04-23</span>
                                </p>
                                <p class="body">
                                    時間：
                                    <span class="body">早上 9 點到下午 4 點</span>
                                </p>
                                <p class="body">
                                    費用：
                                    <span class="body">新台幣 2000 元</span>
                                </p>
                                <p class="body">
                                    地點：
                                    <span class="body">臺北市 大安區忠孝東路4段</span>
                                </p>
                            </div>
                        </div>
                        <button class="UnpaidBookingCard_button_delete"></button>
                        <button class="UnpaidBookingCard_button_fold"></button>
                    </div>
                    <form class="UnpaidBookingCard_details dp-none">
                        <div class="UnpaidBookingCard_details_block">
                            <p class="button bold">您的聯絡資訊</p>
                            <label class="body">
                                聯絡姓名：
                                <input class="body" type="text">
                            </label>
                            <label class="body">
                                聯絡信箱：
                                <input class="body" type="text">
                            </label>
                            <label class="body">
                                手機號碼：
                                <input class="body" type="text">
                            </label>
                            <p class="body bold">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>                                        
                        </div>
                        <div class="UnpaidBookingCard_details_block">
                            <p class="button bold">信用卡付款資訊</p>
                            <label class="body">
                                卡片號碼：
                                <input type="text">
                            </label>
                            <label class="body">
                                過期時間：
                                <input type="text">
                            </label>
                            <label class="body">
                                驗證密碼：
                                <input type="text">
                            </label>
                        </div>
                        <div class="UnpaidBookingCard_details_buttonSet">
                            <p class="body bold">總價：新台幣 2000 元</p>
                            <button type="submit">確認訂購並付款</button>
                        </div>
                    </form>
                </div>
                
                <div class="UnpaidBookingCard">
                    <div class="UnpaidBookingCard_info">
                        <div>
                            <img src="../static/styles/images/Picture.png">
                            <div>
                                <p class="body bold">台北一日遊：平安鐘</p>
                                <p class="body">
                                    日期：
                                    <span class="body">2021-04-23</span>
                                </p>
                                <p class="body">
                                    時間：
                                    <span class="body">早上 9 點到下午 4 點</span>
                                </p>
                                <p class="body">
                                    費用：
                                    <span class="body">新台幣 2000 元</span>
                                </p>
                                <p class="body">
                                    地點：
                                    <span class="body">臺北市 大安區忠孝東路4段</span>
                                </p>
                            </div>
                        </div>
                        <button class="UnpaidBookingCard_button_delete"></button>
                        <button class="UnpaidBookingCard_button_fold"></button>
                    </div>
                    <form class="UnpaidBookingCard_details">
                        <div class="UnpaidBookingCard_details_block">
                            <p class="button bold">您的聯絡資訊</p>
                            <label class="body">
                                聯絡姓名：
                                <input class="body" type="text" value="TestData">
                            </label>
                            <label class="body">
                                聯絡信箱：
                                <input class="body" type="text">
                            </label>
                            <label class="body">
                                手機號碼：
                                <input class="body" type="text">
                            </label>
                            <p class="body bold">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>                                        
                        </div>
                        <div class="UnpaidBookingCard_details_block">
                            <p class="button bold">信用卡付款資訊</p>
                            <label class="body">
                                卡片號碼：
                                <input type="text">
                            </label>
                            <label class="body">
                                過期時間：
                                <input type="text">
                            </label>
                            <label class="body">
                                驗證密碼：
                                <input type="text">
                            </label>                 
                        </div>
                        <div class="UnpaidBookingCard_details_buttonSet">
                            <p class="body bold">總價：新台幣 2000 元</p>
                            <button type="submit">確認訂購並付款</button>
                        </div>
                    </form>
                </div>
                <div class="UnpaidBookingCard">
                    <div class="UnpaidBookingCard_info">
                        <div>
                            <img src="../static/styles/images/Picture.png">
                            <div>
                                <p class="body bold">台北一日遊：平安鐘</p>
                                <p class="body">
                                    日期：
                                    <span class="body">2021-04-23</span>
                                </p>
                                <p class="body">
                                    時間：
                                    <span class="body">早上 9 點到下午 4 點</span>
                                </p>
                                <p class="body">
                                    費用：
                                    <span class="body">新台幣 2000 元</span>
                                </p>
                                <p class="body">
                                    地點：
                                    <span class="body">臺北市 大安區忠孝東路4段</span>
                                </p>
                            </div>
                        </div>
                        <button class="UnpaidBookingCard_button_delete"></button>
                        <button class="UnpaidBookingCard_button_fold"></button>
                    </div>
                    <form class="UnpaidBookingCard_details dp-none">
                        <div class="UnpaidBookingCard_details_block">
                            <p class="button bold">您的聯絡資訊</p>
                            <label class="body">
                                聯絡姓名：
                                <input class="body" type="text" value="TestData">
                            </label>
                            <label class="body">
                                聯絡信箱：
                                <input class="body" type="text">
                            </label>
                            <label class="body">
                                手機號碼：
                                <input class="body" type="text">
                            </label>
                            <p class="body bold">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>                                        
                        </div>
                        <div class="UnpaidBookingCard_details_block">
                            <p class="button bold">信用卡付款資訊</p>
                            <label class="body">
                                卡片號碼：
                                <input type="text">
                            </label>
                            <label class="body">
                                過期時間：
                                <input type="text">
                            </label>
                            <label class="body">
                                驗證密碼：
                                <input type="text">
                            </label>                  
                        </div>
                        <div class="UnpaidBookingCard_details_buttonSet">
                            <p class="body bold">總價：新台幣 2000 元</p>
                            <button type="submit">確認訂購並付款</button>
                        </div>
                    </form>
                </div>                  
            </div>-->
        </section>
        <section class="section_paidBooking">
            <div  class="PaidBookingCard">
            </div>
        </section>
    </main>
    <footer>
        <p class="body">COPYRIGHT © 2021 台北一日遊</p>
    </footer>

    <script src="https://js.tappaysdk.com/tpdirect/v5.7.0"></script>
    <script type="module" src="../static/scripts/library.js"></script>
    <script type="module" src="../static/scripts/general.js"></script>
    <script type="module" src="../static/scripts/booking.js"></script>
</body>
</html>

<!--
    <div class="tpfield" id="card-number"></div>
    <div class="tpfield" id="card-expiration-date"></div>
    <div class="tpfield" id="card-ccv"></div>
-->                    