/* Border-box */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Property Class-option */
.dp-none {
  display: none !important;
}

.vb-hidden {
  visibility: hidden !important;
}

.pt-relative {
  position: relative !important;
}

.errorMessage {
  color: red !important;
}

.zidx-negativeOne {
  position: relative;
  z-index: -1 !important;
}

/* Property Mixin */
/* Font */
.body, .content, button, h3, h2, h1 {
  font-family: Noto Sans TC;
  font-style: normal;
  text-align: justify;
}

/* Color */
/* Layout */
.contentLayout {
  width: 64%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
  /* media_contentLayout */
}
@media (max-width: 1050px) {
  .contentLayout {
    width: 100%;
    height: auto;
    max-width: none;
    min-width: 360px;
    padding-left: calc( -189px + 36%);
    padding-right: calc( -189px + 36%);
  }
}

.transitionVisibilityProp {
  transition: visibility 2s ease-out;
}

/* Global */
html {
  width: 100vw;
  height: 100vh;
  min-width: 360px;
  min-height: 1080px;
}

body {
  width: 100%;
  height: calc(100% + 1px);
  position: relative;
}

/* Typography */
.bold {
  font-weight: bold !important;
}

h1 {
  /* Slogan Title */
  margin: 0;
  font-size: 28px;
  line-height: 64px;
  font-weight: bold;
}

h2 {
  /* Header */
  margin: 0;
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
}

h3 {
  /* Dialog Title */
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}

p {
  margin: 0;
}

button {
  /* Button */
  font-size: 19px;
  line-height: 16px;
  font-weight: normal;
}

.content {
  /* <p>: Content */
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
}

.body {
  /* <p>: Body */
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
}

/* Component */
header {
  width: 100%;
  height: calc(54px);
  position: fixed;
  top: 0;
  z-index: 10;
  background: white;
}
header .c_nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid #E8E8E8 1px;
}
header .c_nav > nav {
  width: 64%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
@media (max-width: 1785px) {
  header .c_nav > nav {
    width: 89%;
    height: 100%;
  }
}
header .c_nav > nav > * {
  display: inline;
  color: #666666;
  border: none;
}
header .c_nav > nav > a {
  background-color: white;
}
header .c_nav > nav > a:link {
  text-decoration: none;
}
header .c_nav > nav > a:visited {
  text-decoration: none;
}
header .c_nav > nav > :not(:first-child) {
  padding: 10px;
}
header .c_nav > nav > :first-child {
  position: absolute;
  left: 0px;
}
header .c_nav > nav > :first-child > a {
  color: #448899;
}
header .c_nav > nav > :first-child > a:link {
  text-decoration: none;
}
header .c_nav > nav > :first-child > a:visited {
  text-decoration: none;
  color: #448899;
}

main {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-top: calc(54px);
  padding-bottom: 104px;
}

footer {
  width: 100%;
  height: 104px;
  position: fixed;
  z-index: 10;
  bottom: 0;
  background-color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > .body {
  color: white;
}

.modal_signIn {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5 !important;
  top: 0;
}
.modal_signIn > .modalMask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
.modal_signIn > form {
  width: 340px;
  height: 380px;
  background-color: white;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 6px;
  padding: 25px 15px 15px 15px;
}
.modal_signIn > form > * {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.modal_signIn > form > .icon_close {
  width: 16px;
  height: 16px;
  position: absolute;
  background-image: url(images/icons/icon_close.svg);
  top: 27px;
  right: 17px;
}
.modal_signIn > form > .deco_modal {
  width: 100%;
  height: 10px;
  background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
  border-radius: 6px 6px 0 0;
  position: absolute;
  top: 0;
  left: 0;
}
.modal_signIn > form > h3 {
  color: #666666;
  margin-bottom: 15px;
}
.modal_signIn > form > label > input {
  width: 100%;
  height: auto;
  padding: 15px;
  margin-bottom: 10px;
  border-color: #CCCCCC;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}
.modal_signIn > form > :last-child {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: 0 15px;
}
.modal_signIn > form > :last-child > button {
  width: 100%;
  height: 47px;
  background-color: #448899;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
}
.modal_signIn > form > :last-child > p {
  margin-top: 10px;
  text-align: center;
  color: #666666;
}
.modal_signIn > form > :last-child > p:first-child {
  margin-bottom: 10px;
}

main > .section_thankyou {
  padding-top: 46px;
  padding-bottom: 40px;
}
main > .section_thankyou > p.button {
  color: #666666;
}
@media (max-width: 1050px) {
  main > .section_thankyou > p.button {
    padding: 0 2.8%;
  }
}
main > .section_thankyou > p.body {
  margin-top: 12px;
  color: #666666;
  line-height: 24px;
}
@media (max-width: 1050px) {
  main > .section_thankyou > p.body {
    padding: 0 2.8%;
  }
}
main > .section_thankyou .span_orderNumber {
  color: #448899;
  padding: 0 7px;
}
main > .section_thankyou > div > :not(:first-child) {
  border-top: solid 1px #E8E8E8;
}
main > .section_thankyou > div > .ThankyouCard {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 35px;
}
main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}
@media (max-width: 1050px) {
  main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info {
    padding: 0 2.8%;
  }
}
@media (max-width: 1050px) {
  main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info {
    position: relative;
  }
}
main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info > div {
  display: flex;
  justify-content: start;
  align-items: top;
}
@media (max-width: 1050px) {
  main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info > div {
    flex-wrap: wrap;
  }
}
main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info > div > img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  object-position: center center;
}
@media (max-width: 1050px) {
  main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info > div > img {
    width: 100%;
    height: auto;
  }
}
main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info > div > div {
  padding-left: 30px;
}
@media (max-width: 1050px) {
  main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info > div > div {
    padding-left: 0px;
    margin-top: 35px;
  }
}
main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info > div > div p > span {
  display: inline;
  color: #666666;
}
main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info > div > div > div > .bold {
  color: #448899;
}
main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info > div > div > div > .bold > span {
  color: #448899;
}
main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info > div > div > div > :last-child {
  margin-bottom: 20px;
}
main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info > div > div > div > :not(:last-child) {
  margin-bottom: 10px;
}
main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info > div > div > :not(.bold) {
  margin-bottom: 10px;
}
main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info > button.UnpaidBookingCard_button_delete {
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  background-position: center center;
  background-image: url(images/icons/icon_delete.svg);
  background-color: transparent;
  top: 35px;
  right: 125px;
}
@media (max-width: 1875px) {
  main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info > button.UnpaidBookingCard_button_delete {
    right: calc(6.85px + 6.3vw);
  }
}
@media (max-width: 1050px) {
  main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info > button.UnpaidBookingCard_button_delete {
    top: auto;
    bottom: 144px;
    right: 2.8%;
  }
}
main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info > button.UnpaidBookingCard_button_fold {
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  background-position: center center;
  background-image: url(images/icons/icon_fold.svg);
  background-color: transparent;
  top: 205px;
  right: 125px;
}
@media (max-width: 1875px) {
  main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info > button.UnpaidBookingCard_button_fold {
    right: calc(6.85px + 6.3vw);
  }
}
@media (max-width: 1050px) {
  main > .section_thankyou > div > .ThankyouCard > .ThankyouCard_info > button.UnpaidBookingCard_button_fold {
    top: auto;
    bottom: 8px;
    right: 2.8%;
  }
}

/*# sourceMappingURL=thankyou.css.map */
